<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dining</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
  </head>
   <body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                  <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                  </a>
                </div>
              
                <div id="navbarBasicExample" class="navbar-menu">
                  <div class="navbar-start">
                    <a class="navbar-item">
                      Home
                    </a>            
                 </div>              
                  <div class="navbar-end">
                    <div class="navbar-item">
                      <div class="buttons">
                        <a class="button is-primary">
                          <strong>Sign up</strong>
                        </a>
                        <a class="button is-light">
                          Log in
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </nav>
              <section class="hero is-medium is-primary is-bold">
                <div class="hero-body">
                  <div class="container">
                    <h1 class="title">
                      Dining App
                    </h1>
                    <h2 class="subtitle">
                      Are you hungry?
                    </h2>
                  </div>
                </div>
              </section>
              <div class="container">
              <table class="table">
                  <thead>
                    <tr>
                      <th>Location</th>
                    </tr>
                    <tbody>
                        {% for location in locations %}
                        <tr> <td>{{ location }}</td></tr>
                      {% endfor %}
                    </tbody>
                  </thead>
                </div>
          <!--   <div id="app">
              <template>
                <b-table :data="data" :columns="columns"></b-table>
            </template>   
           </div> -->
      
          <script src="https://unpkg.com/vue"></script>
          <!-- Full bundle -->
          <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
      
          <!-- Individual components -->
          <script src="https://unpkg.com/buefy/dist/components/table"></script>
          <script src="https://unpkg.com/buefy/dist/components/input"></script>
      <script>
         const example = {
          data() {
              return {
                  data: /* [
                      { 'location': 'Hill Crest', 'hours': '8AM-11PM'},
                          ] */'',
                  columns: [
                      {
                          field: 'location',
                          label: 'Location',
                      },
                      {
                          field: 'hours',
                          label: 'Hours',
                      }                
                  ]
              }
          }
      }

            const app = new Vue(example)

            app.$mount('#app')
        
      </script>
   </body>
</html>